@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

